
.slider{
	margin-bottom: 60px;
}

.slider:after {
content: "";
position: absolute;
z-index: 0;
top: 100%;
bottom: 0;
width: 120%;
height: 104px;
left: -10%;
right: -10%;
background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(0, 0, 0, 0.5), rgba(97, 97, 97, 0) 40%);
background: radial-gradient(ellipse at 50% -3%, #000, rgba(97, 97, 97, 0) 50%);
}