/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * NORMALIZE...........normalize.css
 * CLEARFIX............
 * MAIN................High-level elements like `html`, `body`, etc.
 * GLOBAL..............
 *
 * GRIDS...............Fluid, proportional and nestable grids
 * FLEXBOX.............Crudely emulate flexbox
 * COLUMNS.............CSS3 columns
 * NAV.................A simple abstraction to put a list in horizontal nav mode
 * BREADCRUMBS..........Simple breadcrumb trail object
 *
 * HEADINGS............Double-stranded heading hierarchy
 * PARAGRAPHS..........
 * SMALLPRINT..........Smaller text elements like `small`
 * LISTS...............
 * IMAGES..............
 * TABLES..............
 * FORMS...............
 * BUTTONS.............
 *
 */


/*------------------------------------*\
    MAIN
\*------------------------------------*/




/*------------------------------------*\
    GRIDS
\*------------------------------------*/

section.slider{
	max-width: 1282px;
	margin: auto;
}

.section--featured {
height: 460px;
}

.featured-single{
	width: 100%;
    margin: 10px;
}

.featured .owl-item{
	
}

/*------------------------------------*\
    FLEXBOX
\*------------------------------------*/


/*------------------------------------*\
    COLUMNS
\*------------------------------------*/

.non-featured-single__content {
margin-top: -307px;
}

.featured-single:after, .non-featured__single:after {
    content: '';
    width: 0;
    border-top: 0px solid #E71C1C;
    border-left: 0px solid rgba(0, 0, 0, 0);
    border-bottom: 12px solid rgba(0, 0, 0, 0);
    font-size: 0;
    line-height: 0;
    margin-top: 0px;
    position: absolute;
}

.featured-single:after, .non-featured__single.one-third:after{
    border-right: 300px solid #E71C1C;
}

.non-featured__single.two-thirds:after{
    border-right: 620px solid #E71C1C;
}

.non-featured__single.two-thirds {
    width: 65%;
    max-width: 620px;
    max-height: 290px;
}
/*------------------------------------*\
    NAV
\*------------------------------------*/

}
/*------------------------------------*\
    BREADCRUMBS
\*------------------------------------*/

/*------------------------------------*\
    HEADINGS
\*------------------------------------*/

h1, h2, h3, h4, h5, h6{

}

h1{

}

h2{

}

h3{

}

/*------------------------------------*\
    ICONS
\*------------------------------------*/

