.gallery__featured:hover > a h2, .cs-image:hover > a h2 {
	transition: all .3s ease;
	background-color: rgba(255, 255, 255, 0.9);
	color: #D9251C;
}

.back {
	background: url(../img/arrow-left.png) no-repeat;
	background-position: 0%;
	background-size: 9px;
	display: block;
	line-height: 40px;
	padding-left: 1.2em;
	font-weight: 300;
}

.case-study h2 {
	background: rgba(0, 0, 0, 0.9) url(../img/arrow-right-hover.png) no-repeat;
	background-position: 90%;
}