/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * NORMALIZE...........normalize.css
 * CLEARFIX............
 * MAIN................High-level elements like `html`, `body`, etc.
 * GLOBAL..............
 *
 * GRIDS...............Fluid, proportional and nestable grids
 * FLEXBOX.............Crudely emulate flexbox
 * COLUMNS.............CSS3 columns
 * NAV.................A simple abstraction to put a list in horizontal nav mode
 * BREADCRUMBS..........Simple breadcrumb trail object
 *
 * HEADINGS............Double-stranded heading hierarchy
 * PARAGRAPHS..........
 * SMALLPRINT..........Smaller text elements like `small`
 * LISTS...............
 * IMAGES..............
 * TABLES..............
 * FORMS...............
 *
 */


/*------------------------------------*\
    NORMALIZE
\*------------------------------------*/

@import url('normalize.css');

/*------------------------------------*\
    CLEARFIX
\*------------------------------------*/
.u-cf:after, .u-cf:before {
content: '';
display: table;
}

.u-cf:after {
clear: both;
}

/*------------------------------------*\
    MAIN
\*------------------------------------*/

html{

}

body{
	background: #000;
	color: #fff;
}

header{

}

section{

}

footer{

}

a{
	text-decoration: none;
	color: #fff;
}


/*------------------------------------*\
    GRIDS
\*------------------------------------*/


/*------------------------------------*\
    FLEXBOX
\*------------------------------------*/

.fb {
	display: flex;
	justify-content: space-between;
}

/*------------------------------------*\
    COLUMNS
\*------------------------------------*/


/*------------------------------------*\
    NAV
\*------------------------------------*/

<<<<<<< HEAD
<<<<<<< HEAD
nav ul{
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 0;
	border-left: 1px solid #fff;
}

nav li{
	list-style: none;
=======
nav li{
	list-style: none;
}

.main-nav ul{
=======
nav ul{
>>>>>>> parent of 8ac4eaa... fixed
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 0;
	border-left: 1px solid #fff;
}

<<<<<<< HEAD
.main-nav li{
>>>>>>> FETCH_HEAD
=======
nav li{
	list-style: none;
>>>>>>> parent of 8ac4eaa... fixed
	padding-top: 5em;
	padding-bottom: .82em;
}

<<<<<<< HEAD
<<<<<<< HEAD
nav li a {
	border-right: 1px solid #fff;
=======
.main-nav li a {
	border-right: 1px solid #df4f49;
>>>>>>> FETCH_HEAD
=======
nav li a {
	border-right: 1px solid #fff;
>>>>>>> parent of 8ac4eaa... fixed
	padding: 5em 1.5em .8em;
}


<<<<<<< HEAD
<<<<<<< HEAD
=======


>>>>>>> FETCH_HEAD
=======
>>>>>>> parent of 8ac4eaa... fixed
/*------------------------------------*\
    HEADINGS
\*------------------------------------*/

h1, h2, h3, h4, h5, h6{

}

h1{

}

h2{

}

h3{

}


/*------------------------------------*\
    PARAGRAPHS
\*------------------------------------*/


/*------------------------------------*\
    SMALL PRINT
\*------------------------------------*/
<<<<<<< HEAD


/*------------------------------------*\
    LISTS
\*------------------------------------*/


/*------------------------------------*\
	GLOBAL
\*------------------------------------*/


=======


/*------------------------------------*\
    LISTS
\*------------------------------------*/


/*------------------------------------*\
	GLOBAL
\*------------------------------------*/


>>>>>>> FETCH_HEAD

.gs-container{
	width: 95%;
	max-width: 960px;
	margin: auto;
}

 .l-header{
 	background: #212120;
 }

	.l-header__top{
		background: url(../img/headerTopBg.png) repeat;
		padding: 1em;
	}

	.l-header__nav{
		background: #d9251c;
	}

.l-main{
	background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.4) 0%, rgba(102,98,112,0.4) 50%, rgba(76,74,87,0.4) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.4) 0%, rgba(102,98,112,0.4) 50%, rgba(76,74,87,0.4) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.4) 0%, rgba(102,98,112,0.4) 50%, rgba(76,74,87,0.4) 100%);
}

.button{
	background-color: #d9251c;
}
