/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * NORMALIZE...........normalize.css
 * CLEARFIX............
 * MAIN................High-level elements like `html`, `body`, etc.
 * GLOBAL..............
 *
 * GRIDS...............Fluid, proportional and nestable grids
 * FLEXBOX.............Crudely emulate flexbox
 * COLUMNS.............CSS3 columns
 * NAV.................A simple abstraction to put a list in horizontal nav mode
 * BREADCRUMBS..........Simple breadcrumb trail object
 *
 * HEADINGS............Double-stranded heading hierarchy
 * PARAGRAPHS..........
 * SMALLPRINT..........Smaller text elements like `small`
 * LISTS...............
 * IMAGES..............
 * TABLES..............
 * FORMS...............
 * BUTTONS.............
 * CAROUSEL............
 *
 */


/*------------------------------------*\
    NORMALIZE
\*------------------------------------*/
@import url("//hello.myfonts.net/count/2b1c81");
@import url('normalize.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@font-face {font-family: 'Nexa-Bold';src: url('../fonts/2B1C81_0_0.eot');src: url('../fonts/2B1C81_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B1C81_0_0.woff') format('woff'),url('../fonts/2B1C81_0_0.ttf') format('truetype');}
@font-face {font-family: 'Nexa-Light';src: url('../fonts/2B1C81_1_0.eot');src: url('../fonts/2B1C81_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B1C81_1_0.woff') format('woff'),url('../fonts/2B1C81_1_0.ttf') format('truetype');}
 
/*------------------------------------*\
    CLEARFIX
\*------------------------------------*/
.u-cf:after, .u-cf:before {
content: '';
display: table;
}

.u-cf:after {
clear: both;
}

/*------------------------------------*\
    MAIN
\*------------------------------------*/

html {
	font-family: 'Open Sans', sans-serif;
}

body {
	background: #000;
	color: #fff;
}

header {

}

section {

}

footer {

}

a {
	text-decoration: none;
	color: #fff;
}

p {
	font-size: 14px;
	font-weight: 300;
}

.nb{
	font-family: 'Nexa-Bold';
	font-weight: normal;
}

.nl{
	font-family: 'Nexa-Light';
	font-weight: normal;
}


/*------------------------------------*\
    GRIDS
\*------------------------------------*/






/*------------------------------------*\
    FLEXBOX
\*------------------------------------*/

.fb {
		display: block;
	}


@media screen and (min-width: 1005px){

	.fb {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
	}
}


.footer-copy-fb {
	display: flex;
	justify-content: space-between;
}
/*------------------------------------*\
    COLUMNS
\*------------------------------------*/


/*------------------------------------*\
    NAV
\*------------------------------------*/

nav ul{
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 0;
}

nav ul li{
	list-style: none;
}

	.l-header__top__nav ul{
		border-left: 1px solid #000;
		border-right: 1px solid #393b3d;
		margin-top: 1.3em;
	}

	.l-header__top__nav li{
		border-left: 1px solid #393b3d;
		border-right: 1px solid #000;
		padding: 11px 0px;
		font-size: 22px;
		padding: 11px;
		color: #424445;
	}

@media screen and (min-width: 1005px){

	.main-nav ul{
		border-left: 1px solid #df4f49;
	}

	.main-nav li{
		padding-top: 5em;
		padding-bottom: .82em;
	}

	.main-nav li a {
		border-right: 1px solid #df4f49;
		padding: 5em 1.4em .8em;
	}



}

.sub-nav {
	display: none;
	position: absolute;
	background: #D9251C;
	margin-top: 13px;
	margin-left: -2px;
	width: 140px;
	z-index: 2;
}

.sub-nav li {
padding: 1em 0;
border-bottom: 1px solid #DF4F49;
}

.main-nav li:hover>ul {
display: block;
}

.sub-nav li a {
padding: 1em 2em 1em 1em;
border-right: 0;
width: 100%;
position: relative;
}

.footer-nav {
	float: right;
	margin-right: 5px;
}
.footer-nav ul li{
	display: inline-block;
	text-align: right;
}

.footer-nav ul{
	font-size: .75em;
}

.footer-nav a {
	color: #787878;
	margin: 8px;
}

.sub-nav ul li ul{
	display: none;
	position: absolute;
	background: #d9251c;
}
/*------------------------------------*\
    BREADCRUMBS
\*------------------------------------*/

/*------------------------------------*\
    HEADINGS
\*------------------------------------*/

h1, h2, h3, h4, h5, h6{

}

h1{

}

h2{

}

h3{

}

@media screen and (min-width: 1005px) {

	.slide__heading{
		font-size: 52px;
		width: 62%;
		display: block;
		border-bottom: 1px solid #3F3F3F;
		padding-left: 2.5em;
	}
}

/*------------------------------------*\
    ICONS
\*------------------------------------*/

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-5g37eg');
	src:url('../fonts/icomoon.eot?#iefix-5g37eg') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-5g37eg') format('woff'),
		url('../fonts/icomoon.ttf?-5g37eg') format('truetype'),
		url('../fonts/icomoon.svg?-5g37eg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 29px;
	background: #282828;
	padding: .5em;
	color: #d9251c;
	border-radius: 50%;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.icon-linkedin:before {
	content: "\f0e1";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-vimeo:before {
	content: "\e602";
}

.section--social-media{
	text-align: center;
}

.section--social-media a {
	width: 49%;
	padding: 3em 0em;
	background: #D9251C;
	border-right: 1px solid #000;
	display: inline-block;
	text-align: center;
	margin-bottom: 1em;
}

@media screen and (min-width: 1005px){

	.section--social-media a {
		padding: 3em 4.5em;
		width: 180px;
	}

}
/*------------------------------------*\
    PARAGRAPHS
\*------------------------------------*/


/*------------------------------------*\
    SMALL PRINT
\*------------------------------------*/


/*------------------------------------*\
    LISTS
\*------------------------------------*/


/*------------------------------------*\
    IMAGES
\*------------------------------------*/

img{
	max-width: 100%;
}

.gallery{
	margin-top: 0;
}

.gallery img{
	margin: 10px;
}

.gallery__featured {
	width: 50%;
	display: inline-block;
}

	.gallery__featured--right{
		margin-right: 10px;
	}

.gallery__grid {
	flex-wrap: wrap;
	width: 51%;
	display: inline-block;
}

	.gallery__grid--left, .gallery__featured--left{
		margin-left: -10px;
	}

	.gallery__grid--right {
		margin-right: -12px;
	}

/*------------------------------------*\
    TABLES
\*------------------------------------*/


/*------------------------------------*\
    FORMS
\*------------------------------------*/

.contact-form1{
	height: 810px;
	width: 620px;
}

.contact-form1 ul {
	list-style: none;
}

.contact-form1 ul li {
	margin-bottom: 20px;
	height: 40px;
}

.contact-form1 input, .contact-form1 select, .submit{
	float: right;
	height: 35px;
	width: 300px;

}

.contact-form1 textarea {
	height: 235px;
	width: 575px;
}

.contact-form1 label, .contact-form1 textarea {
	margin-left: -20px;
}

.contact-form1 input, .contact-form1 textarea, .contact-form1 select {
	background-color: #29272d;
	border: 2px solid #3b3a3a; 
	margin-right: 20px;
}

.submit {
	background-color: #d9251c;
	margin-top: 220px;
}
.contact-form2 {
	width: 300px;
}

.contact-info {
	color: #d9251c;
}

/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.button{
	background-color: #d9251c;
	padding: 10px 41px 10px 17px; 

}

/*------------------------------------*\
	GLOBAL
\*------------------------------------*/



.gs-container{
	width: 95%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

section{
	margin-top: 30px;
}

 .l-header{
 	background: #212120;
 }

	.l-header__top{
		background: url(../img/headerTopBg.png) repeat;
		padding: 1em 1em 0;
	}

	.l-header__nav{
		background: #d9251c;
	}

.l-main{
	background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0.4) 0%, rgba(102,98,112,0.4) 50%, rgba(76,74,87,0.4) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0.4) 0%, rgba(102,98,112,0.4) 50%, rgba(76,74,87,0.4) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0.4) 0%, rgba(102,98,112,0.4) 50%, rgba(76,74,87,0.4) 100%);
}

.l-header__top__quote {
	border: 1px solid #d9251c;
	height: 40px;
	cursor: pointer;
	width: 260px;
	margin-top: 1.6em;
}

.quote-select {
	text-transform: uppercase;
	padding: .5em;
	background: #202025;
	text-align: right;
}

.quote-dropdown {
	display: none;
	transition: all .3s ease;
	background: #202025;
	z-index: 2;
	position: relative;
	width: 366px;
	margin-left: -6.7em;
	border: 1px solid #d9251c;
	text-align: left;
}

.quote-select:hover ~ .quote-dropdown{
	display: block;
}

.dot-bg{
	background: url(../img/dotbg.png) repeat;
	opacity: .6;
	display: block;
	width: 100%;
	height: 409px;
	margin-top: -413px;
	position: relative;
}

.dot-service{
	background: url(../img/dotbg.png) repeat;
	opacity: .6;
	display: block;
	width: 100%;
	height: 609px;
	margin-top: -609px;
	position: relative;
}

.slider{
	height: 480px;
	max-width: 1282px;
	margin: auto;
}

.section--featured {
	height: 460px;
}

.featured__single, .non-featured__single {
	margin: auto;
	background: url(../img/dotbg.png);
	position: relative;
}

.featured__single{
	width: 95%;
}

.featured__single__img, .non-featured__single__img{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.featured__single__img img, .non-featured__single__img img {
	height: 100%;
	width: 100%;
	opacity: .4;
}

.featured__single__content{
	width: 100%;
	position: relative;
	background: rgba(0, 0, 0, 0.4);
	padding-top: .8em;
	border-top: 3px solid #797B7F;
}

.featured__single__content--home{
	height: 396px;
}

.featured__single__content--service{
	height: 596px;
	margin-top: -612px;
}


.featured__single__content h2 {
	background: rgba(0,0,0,.7);
	width: 65%;
	padding: .8em 1em .8em .5em;
	font-weight: 300;
}

.featured__single__content p{
	font-size: 12px;
	width: 92%;
	margin: 40% auto 0;
}

.non-featured__single.one-third {
	max-height: 285px;
}

.non-featured__single.two-thirds {
	max-height: 139px;
	margin-bottom: 1em;
}

.non-featured__single__content {
	height: 294px;
	position: relative;
}

.blog-header, .blog-link{
	color: #cc241c;
}


.dot-gallery {
	background: url(../img/dotbg.png) repeat;
	opacity: .6;
	display: block;
	width: 100%;
	height: 291px;
	margin-top: -295px;
	position: relative;
}

.dark-bg{
	background: #151617;
	border: 1px solid #27262b;
}

.highlight {
	width: 92%;
	background: #CC241C;
	padding: .5em;
	margin: 1.3em 0;
}



.highlight h2 {
	margin: .3em 0;
}

.highlight p {
font-size: 12px;
}

.section--blog h2{
	max-width: 243px;
	background: #9d9d9d;
	padding: .5em 0 .5em .3em;
}

.blog-single {
font-size: 12px;
}

.section--blank{
	height: 220px;
}

.section--logos{
	background-color: #1a1a1a;
	padding: 15px 0px;
}

footer{
	background: #373737;
}

.footer-red {
	height: 65px;
	width: 80px;
	background-color: #d9251c;
}

.footer-red, .footer-logo, .footer-nav {
	display: inline-block;
}

.footer-fb {
	background-color: #474747;
}

.footer-copy-fb, .footer-copy-fb a {
	color: #7e7e7e;
} 

.product-single {
	position: relative;
	text-align: center;
}

.product-single img {
	margin-top: 15px;
}

.hot-pr-btn {
	position: absolute;
	top: 46%;
	left: 55%;
	height: 40px;
	width: 40px;
	padding: 0px 0px;
	z-index: 3;
}

.grey-bg {
	background: #202025;
	border: 2px solid #3b3a3a;
}

.top-content-box {
	margin: 25px 20px;
}

.top-title {
	font-size: 1.25em;
}
.top-title-red{
	color: #d9251c;
}

.pricing-featured {
	background: #d9251c;
	border: 2px solid #3b3a3a;
	padding: 3px 20px;

}

.column {
	-moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
 	-webkit-column-gap : 20px;
}

.packages {
	background: #202025;
	border: 2px solid #3b3a3a;
}

.cs-text {
	width: 50%;
}

.service-single__img{
	height: 609px;
	background: #111111;
}

.recent-blog-single {
	width: 22.8%;
}

.latest-blog-single {
	width: 47.8%;
}

.main-article {
	max-width: 75%;
	border: 2px solid #3b3a3a; 
	margin-right: 5px;
}

.a-quote {
	max-width: 50%;
}

@media screen and (min-width: 1005px){

	.featured__single {
		width: 97%;
		max-width: 299px;
		margin: 10px;
	}

	.featured__single__img img{
		width: auto;
		max-width: initial;
		height: 100%;
		opacity: .4;
	}

	.non-featured__single {
		width: 32%;
		max-width: 300px;
		margin: initial;
	}

	.non-featured__single__content {
		height: 272px;
		position: relative;
		padding-top: .8em;
	}

	.featured__single:after, .non-featured__single:after {
	    content: '';
	    width: 0;
	    border-top: 0px solid #E71C1C;
	    border-left: 0px solid rgba(0, 0, 0, 0);
	    border-bottom: 12px solid rgba(0, 0, 0, 0);
	    font-size: 0;
	    line-height: 0;
	    margin-top: 0px;
	    position: absolute;
	}

	.featured__single:after, .non-featured__single.one-third:after{
	    border-right: 299px solid #E71C1C;
	}

	.non-featured__single.two-thirds:after{
	    border-right: 620px solid #E71C1C;
	}

	.non-featured__single.two-thirds {
	    width: 65%;
	    max-width: 620px;
	    max-height: 290px;
	    margin-bottom: 0;
	}

	.highlight {
		width: 27%;
		padding: .5em;
		margin: 2.3em 0;
	}

	.section--blog h2{
		width: 26%;
	}

}


/*------------------------------------*\
    OVERLAY
\*------------------------------------*/

a#overlaylaunch-inAbox {

}

#overlay-inAbox .wrapper {
    text-align: center;
}

.overlay,
#overlay-shade {
    display: none;
}

#overlay-shade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000;
}

.overlay {
    position: absolute;
    top: -300px;
    left: 0;
    width: 450px;
    min-height: 200px;
    z-index: 10000;
    background-color: #7D7D7D;
    border: 10px solid #CFCFCF;
    color: #fff;
    box-shadow: 0 0 16px #000;
} .ie7 .overlay {
    height: 200px;
} .overlay .wrapper {
    padding: 15px 30px 30px;
}


.overlay .toolbar {
    padding: 8px;
    line-height: 1;
    text-align: right;
    overflow: hidden;
} .overlay .toolbar a.close {
    display: inline-block;
        *display: inline;
         zoom: 1;
    padding: 0 8px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    line-height: 18px;
    border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
    color: #999999;
    background-color: #515151;
} .overlay .toolbar a.close span {
    color: #818181;
} .overlay .toolbar a.close:hover,
  .overlay .toolbar a.close:hover span {
    background-color: #b90900;
    color: #fff;
}


/*------------------------------------*\
    CAROUSEL
\*------------------------------------*/

.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
	overflow: hidden;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.slider.owl-theme .owl-controls{
	margin-top: -35px;
}

.owl-theme .owl-controls{
	text-align: center;
	position: relative;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #fff;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}



.slide-section__left, .slide-section__right {
	display: inline-block;
	vertical-align: top;
}

.slide-section__left{
	position: relative;
	z-index: 3;
	width: 95%;
	padding-top: 4%;
}

.slide-section__right {
	margin-left: -46%;
	width: 48%;
}

	.slide-section__right img {
		margin-left: -74%;
		z-index: 1;
		position: relative;
		max-width: 380px;
	}

.slide__button{
	width: 201%;
	border-top: 1px solid #D9251C;
	top: 4em;
	position: relative;
}

.slide__par {
	padding-left: 8em;
	width: 65%;
	text-align: justify;
}

.button--slider {
	display: block;
	width: 36%;
	padding: .5em 1.5em;
	text-align: right;
	font-size: 21px;
	font-weight: 300;
}

.slider{
	background: #141414;
	max-height: 471px;
	margin-top: 0px;
}

.slide--over {
position: relative;
margin-top: -480px;
height: 469px;
}

.slide--over img {
position: absolute;
}

.slide--over__one {
left: 18em;
opacity: .1;
}

.slide--over__one {
left: 18em;
opacity: .1;
}



@media screen and (min-width: 1005px){

	.slide-section__left, .slide-section__right {
		width: 49.8%;
	}

	.slide-section__right {
		margin-left: 0;
	}

	.slide-section__right img{
		margin-left: -47%;
		max-width: initial;
	}

}
